@font-face {
  font-family: 'AveriaLibre';
  src: url('./AveriaLibre-Regular.ttf');
}

body {
  margin: 0;
  padding: 0;
  background-color: #3d405b;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 35vw;
  font-family: AveriaLibre;
}

#days-to-november-first {
  color: #f2cc8f;
}

#days-to-december-first {
  color: #f4f1de;
}

#sunset {
  font-size: 20vw;
  color: cadetblue;
}